### IntelliJ IDEA ###
.idea/
*.iml
out/

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

### Logs ###
*.log
logs/
log/
debug.log
error.log

### OS files ###
.DS_Store
Thumbs.db

### Environment files ###
.env

### Docker ###
docker-data/
*.pid
